# Testing bluesky + EPICS

Following the bluesky tutorial https://nsls-ii.github.io/bluesky/tutorial.html with simulated and live motors

In [1]:
# April 2022
# awojdyla@lbl.gov

In [2]:
import epics
import bluesky
#import numpy
#import matplotlib.pyplot as plt
#import time

In [3]:
from bluesky import RunEngine
RE = RunEngine({})

In [4]:
from databroker import Broker
db = Broker.named('temp')

# Insert all metadata/data captured into db.
RE.subscribe(db.insert)

0

### Connecting to EPICS motors
We had some issues here witht the picoscale interformeter -- we need to use caproto to talk to it (ophyd's motor does not work directly out of the box)

from: https://nsls-ii.github.io/bluesky/tutorial.html

```
from ophyd import EpicsMotor
nano_top_x = EpicsMotor('XF:31ID-ES{Dif:Nano-Ax:TopX}Mtr', name='nano_top_x')
```
see also:

https://blueskyproject.io/ophyd/generated/ophyd.epics_motor.EpicsMotor.html#:~:text=class%20ophyd.epics_motor.EpicsMotor%28prefix%3D%27%27%2C%20%2A%2C%20name%2C%20kind%3DNone%2C%20read_attrs%3DNone%2C%20configuration_attrs%3DNone%2C%20parent%3DNone%2C,are%20passed%20through%20to%20the%20base%20class%2C%20Positioner

In [8]:
from ophyd import EpicsMotor
import ophyd
ophyd.set_cl('caproto')

#that does not work
#det = ophyd.EpicsMotor('BL531:PS:POS_0', name='picoscale') 
#det.read()

det_ps = ophyd.EpicsSignal('newport:m13', name='newport_z_in')
# do not do a read in the same cell! too fast

#this works
det_ps.wait_for_connection(timeout=2.0)
det_ps.read()

{'newport_z_in': {'value': 25.0, 'timestamp': 1656876119.597277}}

In [14]:
## works!
motor_z = EpicsMotor('newport:m13', name='newport_z')
motor_x = EpicsMotor('newport:m11', name='newport_x')
motor_z.wait_for_connection(timeout=2.0)
motor_x.wait_for_connection(timeout=2.0)
motor_z.read()
motor_x.read()

OrderedDict([('newport_x', {'value': -12.0, 'timestamp': 1656875837.673408}),
             ('newport_x_user_setpoint',
              {'value': -12.0, 'timestamp': 1656876547.0303576})])

In [18]:
from bluesky.plans import scan
dets = [det_ps]
RE(scan(dets, motor_z, 25, -75, motor_x, -12, -62, 5))

('a6b72344-119a-4e47-8dba-e50bc47288b4',)

In [19]:
header = db[-1]
header.table()

,time,newport_x,newport_x_user_setpoint,newport_z,newport_z_user_setpoint,newport_z_in
seq_num,,,,,,
1,2022-07-03 19:32:07.436300516,-12.0,-12.0,24.9995,25.0,25.0
2,2022-07-03 19:32:33.023221970,-24.5,-24.5,0.0000,0.0,0.0
3,2022-07-03 19:32:58.455350876,-37.0,-37.0,-25.0000,-25.0,-25.0
4,2022-07-03 19:33:23.891828299,-49.5,-49.5,-50.0000,-50.0,-50.0
5,2022-07-03 19:33:49.307328463,-62.0,-62.0,-75.0000,-75.0,-75.0

In [17]:
det_hxp.move(-8)

MoveStatus(done=True, pos=hxp hexapod, elapsed=0.0, success=True, settle_time=0.0)