# Bluesky sample stage operation

Cleaning up bluesky routines and testing sample stage scan before commissioning

In [1]:
# October 2024
# awojdyla@lbl.gov, xchong@lbl.gov, francisho@lbl.gov

In [1]:
import epics
import bluesky
#import numpy
#import matplotlib.pyplot as plt
#import time

In [2]:
from bluesky import RunEngine
RE = RunEngine({})

In [3]:
from databroker import Broker
db = Broker.named('temp')

# Insert all metadata/data captured into db.
RE.subscribe(db.insert)

0

### Connecting to EPICS motors
We had some issues here witht the picoscale interformeter -- we need to use caproto to talk to it (ophyd's motor does not work directly out of the box)

from: https://nsls-ii.github.io/bluesky/tutorial.html

```
from ophyd import EpicsMotor
nano_top_x = EpicsMotor('XF:31ID-ES{Dif:Nano-Ax:TopX}Mtr', name='nano_top_x')
```
see also:

https://blueskyproject.io/ophyd/generated/ophyd.epics_motor.EpicsMotor.html#:~:text=class%20ophyd.epics_motor.EpicsMotor%28prefix%3D%27%27%2C%20%2A%2C%20name%2C%20kind%3DNone%2C%20read_attrs%3DNone%2C%20configuration_attrs%3DNone%2C%20parent%3DNone%2C,are%20passed%20through%20to%20the%20base%20class%2C%20Positioner

In [5]:
from ophyd import EpicsMotor
import ophyd
ophyd.set_cl('caproto')

sample_x_mm = ophyd.EpicsMotor('bl531_xps2:sample_x_mm', name='sample stage horizontal')
sample_y_mm = ophyd.EpicsMotor('bl531_xps2:sample_y_mm', name='sample stage vertical')

#this works
sample_x_mm.wait_for_connection(timeout=2.0)
sample_x_mm.read()
sample_y_mm.wait_for_connection(timeout=2.0)
sample_y_mm.read()

OrderedDict([('sample stage vertical',
              {'value': 5.0, 'timestamp': 1729019808.553445}),
             ('sample stage vertical_user_setpoint',
              {'value': 4.0, 'timestamp': 1729020141.7645588})])

In [11]:
from bluesky.plans import scan
# just a motor scan, no detectors
RE(scan([], sample_x_mm, 1, 2, sample_y_mm, 1,2, 11))

#works, but does a weird scan
#https://nsls-ii.github.io/bluesky/generated/bluesky.plans.grid_scan.html#bluesky.plans.grid_scan

('ac5a2712-1f3c-4c82-b7a9-ea6b1a1cb7ff',)

In [13]:
from bluesky.plans import grid_scan

RE(grid_scan([], sample_x_mm, 1, 2, 3, sample_y_mm, 1,2,3))

('4f8667ba-e510-4218-ae21-26d65cbf3e63',)

In [19]:
header = db[-1]
header.table()

,time,newport_x,newport_x_user_setpoint,newport_z,newport_z_user_setpoint,newport_z_in
seq_num,,,,,,
1,2022-07-03 19:32:07.436300516,-12.0,-12.0,24.9995,25.0,25.0
2,2022-07-03 19:32:33.023221970,-24.5,-24.5,0.0000,0.0,0.0
3,2022-07-03 19:32:58.455350876,-37.0,-37.0,-25.0000,-25.0,-25.0
4,2022-07-03 19:33:23.891828299,-49.5,-49.5,-50.0000,-50.0,-50.0
5,2022-07-03 19:33:49.307328463,-62.0,-62.0,-75.0000,-75.0,-75.0